@import '../common/styles/sass/mixins.scss';
@import '../common/styles/sass/variables.module.scss';

.header {
  display: flex;
  height: 89px;
  position: relative;

  &:before {
    background-image: url('https://kura-vue.vercel.app/img/white-texture.9d0cd07e.png');
    background-repeat: repeat;
    opacity: .6;
    z-index: 2;
  }

  &:after {
    background-color: #000;
    z-index: 1;
  }

  &:after, &:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .container {
    justify-content: flex-end;
    z-index: 3;
    position: relative;

    .navMenu {
      margin-top: 35px;


      .navBar {
        list-style: none;
        display: flex;
        margin-top: 0;
      }
    }
  }
}




