@import '../../common/styles/sass/variables.module';
@import '../../common/styles/sass/mixins';


.skill{
    width:244.72px;
    background-color: $blockItemColor;
    border-radius: 5px;
    position: relative;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //text-align: center;
    padding: 70px 30px 5px;
    box-sizing: border-box;

    @media screen and (max-width: 1224px){
        margin-bottom: 60px;
        min-height: 300px;
    }
    &:before {
    border-radius: 5px;
    border: 3px solid $titleColor;
    opacity: 0;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
    &:hover::before, &:focus::before{
        opacity: 1;
    }
    .iconContainer{
        background-color: $titleColor;
        left: 30px;
        top: 0;
        margin-top: -35px;
        width: 70px;
        height: 70px;
        text-align: center;
        position: absolute;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img{
            width: 47px;
            height: 47px;
            background-size: cover;
            background-position: center;
            mix-blend-mode: multiply;
        }
    }
    .title{
        margin-top: 0;
        padding-bottom: 20px;
        margin-bottom: 25px;
        position: relative;
        @include text(('Poppins', sans-serif),$miniTitleTextColor,1.375rem,500,1.2);
        &:after {
            width: 27px;
            height: 3px;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $titleColor;
        }
    }
    .description{
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.75;
        @include text(('Poppins', sans-serif),$miniTitleTextColor,1rem,300,1.75);
    }
}





