@import '../../common/styles/sass/mixins.scss';
@import '../../common/styles/sass/variables.module.scss';
.li{
    margin-left: 42px;
    text-transform: uppercase;
    .link{
        position: relative;
        @include text(('Poppins',sans-serif), $miniTitleTextColor, 19px,500,1.75);
        list-style: none;
        padding: 0 0 10px;
        display: block;
        text-decoration: none;
        background-color: transparent;
        &:after{
            transition: opacity, .3s ease, visibility .3s ease, transform .3s ease, -webkit-transform .3s ease;
            opacity: 0;
            //visibility: hidden;
            //transform: scaleX(0);
            //transform-origin: 0 0 0;
            border-radius: 9px;
            width: 15px;
            height: 3px;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $titleColor;
            box-sizing: border-box;
        }
        &:hover::after, &:focus::after{
            opacity: 1;
        }
        &:hover, &:focus{
            color: $titleColor;
            transition: color .3s ease;
        }
    }
    .clicked{
        font-weight: 700;
    }

}
