@import '../common/styles/sass/variables.module';


.projectsBlock {
  min-height: 100vh;
  background-color: #111111;
  padding-bottom: 65px;
  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    .projects {

      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1332px) {
        justify-content: space-evenly;
      }
    }
  }
  @media screen and (max-width: 1332px) {
    min-height: 70vh;
  }

}

//
//@media screen and (max-width: 1332px) {
//  .projects {
//    justify-content: space-evenly;
//  }
//}
